CompileFlags:
  Add: [
    -std=c99, 
    -fsanitize=address,undefined, 
    -Wall, 
    -Wextra, 
    -Wconversion, 
    -Wno-sign-conversion, 
    -Wdouble-promotion
    -Werror,
    -Wpedantic,
    -Wpointer-arith,
    -D_FORTIFY_SOURCE=2,
    -Ideps/libgit2/include
  ]
