body {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;
  font-size: 18px;
  background-color: #fffdf9;
  line-height: 1.5;
  max-width: 600px;
  margin: 3em auto;
  padding: 0 6em 0 9em;
}

nav {
  width: 100%;
  margin-bottom: 2em;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li {
  display: inline;
  height: 100%;
}

nav ul li + li {
  margin: 0;
  margin-left: 20px;
}

nav ul li a {
  height: 30px;
  display: inline-block;
  padding-bottom: 1.5px;
  text-decoration: none;
}

nav ul li a:visited {
  color: blue;
}

ol,
ul li + li {
  margin-top: 8px;
}

#title-block-header {
  margin-top: 1.3rem;
  margin-bottom: 2rem;
}

h1 {
  font-family:
    ui-serif,
    Georgia,
    Cambria,
    Times New Roman,
    Times,
    serif;
  font-size: 2rem;
  line-height: 1.2em;
  margin-top: 0;
  margin-bottom: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h2 {
  font-family:
    ui-serif,
    Georgia,
    Cambria,
    Times New Roman,
    Times,
    serif;
  font-size: 1.4rem;
  margin-top: 2em;
}

#post-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 80%;
}

#post-entry {
  margin-bottom: 2em;
}

#post-entry div {
  margin: 0.5em 0 0.15em 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

#post-entry a {
  height: 30px;
  overflow-wrap: break-word;
  text-decoration: none;
  border-bottom: none;
  padding-bottom: 1.5px;
}

#post-entry div a:visited {
  color: blue;
}

nav ul li a:hover,
#post-entry div a:hover {
  color: #451a03;
  border-bottom: 1px solid;
  padding-bottom: 0.5px;
}

#post-entry span {
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

#post-entry .date {
  text-wrap: nowrap;
  margin-left: 2em;
  float: right;
}

.date {
  color: #999;
  margin-top: 0;
}

.subtitle {
  color: #999;
  margin-top: 0;
}

#footnotes {
  line-height: 1.3;
  font-size: 85%;
}

@media (max-width: 640px) {
  body {
    width: auto;
    margin: 3em;
    padding: 0;
  }

  h1 {
    font-size: auto;
    top: auto;
    padding-top: 0.3em;
  }
}

@media (max-width: 430px) {
  body {
    margin: 1.5em 1em;
  }

  #post-entry {
    width: 100%;
  }
}
