:root {
	--color-gray1: #ffffff;
	--color-gray2: #b1b1b0;
	--color-gray3: #90908f;
	--color-gray4: #646464;
	--color-gray5: #5a5a5a;

	--color-teal1: #cfb540;
	--color-teal2: #9f8618;
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	max-width: 700px;
	margin: 0 auto;
	padding: 0;
	line-height: 1.8;

	background-color: var(--color-gray1);
	color: var(--color-gray5);

	/* font-family: "Source Sans 3", sans-serif; */
	font-family: sans-serif;

	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
}

a,
a:visited {
	text-decoration: underline;
	text-decoration-thickness: 1.5px;
	text-underline-offset: 6px;
	text-decoration-color: var(--color-teal2);
	color: var(--color-teal2);
}

a:hover,
a:active {
	text-decoration-color: var(--color-teal1);
	color: var(--color-teal1);
}


blockquote>p:first-of-type {
	font-weight: 300;
	font-size: 95%;
	margin-bottom: 0.33em;
}

blockquote>p:last-of-type {
	margin-top: 0;
}

main {
	flex: 1;
	display: flex;
	flex-flow: column;
}

footer {
	margin-top: 0;
	margin-bottom: 0.67em;
}

pre {
	overflow-x: auto;
}

footer>ul,
nav>ul {
	list-style: none;
	margin: 0;
	padding: 0;

	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	gap: 10px;
}

footer>ul>li,
nav>ul>li {
	white-space: nowrap;
}

h1 {
	font-size: 2rem;

	margin-top: 0;
	margin-bottom: 0;
}

hgroup>h1 {
	line-height: 1.4;
}

q {
	font-style: italic;
}

article {
	flex: 1;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#content {
	flex: 1;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding: 0.5rem 1.5rem;
}

#footnotes {
	border-top: 1px solid var(--color-gray2);
}

#footnotes {
	padding: 1.5em 0;
	margin-top: 1.5em;
}

#footnotes ol {
	padding: 0;
}

#post-list h3 {
	margin-bottom: 0;
}

#post-list {
	margin-top: 0;
}

#post-list dd {
	margin-top: 0.2em;
	margin-bottom: 2em;
}

#post-list dd::after {
	border-bottom: 1px solid var(--color-gray2);
	content: '';
	display: block;
	margin-top: 1em;
	margin-left: -40px;
}

#post-list strong {
	color: var(--color-teal2);
}

#post-list strong:hover {
	color: var(--color-teal1);
}

#date-created,
#date-updated {
	color: var(--color-gray3);
	opacity: 0.7;
	font-weight: 600;
}

#date-created {
	font-size: 95%;
}

#date-created:not(.no-hover):hover {
	opacity: inherit;
	color: var(--color-gray5);
}

#date-updated {
	margin-bottom: 1em;
	line-height: normal;
}

#post-main {
	flex: 1;
}

p#index-quote {
	margin-bottom: 0;
	font-size: 110%;
}

.footnote-ref {
	text-decoration: none;
	font-size: 0.9em;
}

.wide-list {
	list-style-position: outside;
	padding-left: 1.3em;
}

.wide-list li {
	margin-top: 1.4em;
}

@media (width >=40rem) {
	#content {
		padding: 2rem 1.5rem;
	}

	p#index-quote {
		margin-bottom: 1em;
	}
}
