:root {
	/* The further down a color the darker */
	--color-gray1: #ffffff;
	--color-gray2: #f7f7f7;
	--color-gray3: #e3e3e3;
	--color-gray4: #b1b1b0;
	--color-gray5: #90908f;
	--color-gray6: #646464;
	--color-gray7: #5a5a5a;

	--color-highlight-fg: #716f45;
	--color-highlight-bg: #e6dfa4;

	/* --color-link-bg: #f4cc9c; */
	--color-link-bg: #efb46e;

	--default-font-size: 14px;
	--default-line-height: 1.6em;
	--default-border-radius: 4px;

	--content-border: 1px solid var(--color-gray4);

	--highlight-span-height: calc(((var(--default-line-height) - var(--default-font-size)) / 2) + 2px);
}

html {
	height: 100%;
	scrollbar-gutter: stable;
}

body {
	max-width: 750px;

	margin: 0 auto;
	padding: 0;

	min-height: 100%;

	display: flex;

	background-color: var(--color-gray1);
	color: var(--color-gray7);

	line-height: var(--default-line-height);

	font-family: monospace;
	font-weight: lighter;
	/* font-family: "Source Sans 3", sans-serif; */
	/* font-family: sans-serif; */

	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: var(--default-font-size);
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
}

article {
	flex: 1;
	display: flex;
	flex-direction: column;
}

a,
a:visited {
	color: inherit;
	/* text-decoration-color: var(--color-link-bg); */
}

a:hover,
a:active {
	color: var(--color-gray7);
	background-color: var(--color-link-bg);

	text-decoration: none;
}

code {
	overflow-wrap: break-word;
}


details[open] summary,
summary:hover {
	opacity: 1;
}

details[open] summary {
	border-top-left-radius: var(--default-border-radius);
	border-top-right-radius: var(--default-border-radius);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

details[open] pre {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

details pre {
	margin-top: 0;
}

footer {
	border-top: var(--content-border);
	padding: 1.5rem 0;
}

header {
	border-bottom: var(--content-border);
	padding: 1.5rem 0;
}

summary {
	position: sticky;
	top: 0;

	background-color: var(--color-gray2);
	border-bottom: var(--content-border);

	padding: 0.5rem 1.7rem;

	opacity: 0.4;
	transition: opacity 0.3s ease;
}

h1 {
	font-size: 2rem;

	margin-top: 0;
	margin-bottom: 0;
}

div:has(> img) {
	align-self: center;
	max-width: 100%;
	width: 100%;
}

div>img {
	max-width: 100%;
	height: auto;
	display: block;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

ol li>p,
ul li>p {
	margin: 0;
}


ol>li,
ul>li {
	list-style: none;
	position: relative;
	padding-left: 1.2rem;
}

#footnotes>ol>li {
	margin-bottom: 1rem;
}

#footnotes>ol>:last-child {
	margin-bottom: 1rem;
}

#post-main {
	margin: 3rem 0 0;
	flex: 1;
}

#post-main :first-child {
	margin-top: 0;
}

#post-main :last-child {
	margin-bottom: 0;
}

ol>li:last-child {
	margin-bottom: 0;
}

ol>li::before {
	content: counter(list-item) ". ";
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
}

header nav ul,
footer ul {
	margin: 0;
	padding: 0;

	list-style: none;

	display: flex;
	flex-wrap: wrap;

	align-items: baseline;
	gap: 10px;
}

header nav ul li,
footer ul li {
	padding-left: 0;
}

pre,
summary {
	border-radius: var(--default-border-radius);
}

pre {
	margin: 2rem 0;
	padding: 1rem;

	background-color: var(--color-gray2);

	overflow: auto;
	scrollbar-gutter: stable;
}

q {
	font-style: italic;
}

/* lists and nothing but lists */
a.footnote-back {
	margin-left: 0.2rem;
}

a.footnote-ref:target,
li[id^="footnote-"]:target::before {
	display: inline-block;
	animation: footnote-back 1s ease-out forwards;
	outline: none;
}

@keyframes footnote-back {
	50% {
		transform: scale(3);
		font-weight: bold;
	}
}

/* Everything that has an id */
#date-created,
#date-updated {
	color: var(--color-gray5);
}

#date-created {
	display: inline-block;
	margin-bottom: 1.5rem;
}

#date-updated {
	margin-top: 2rem;
	margin-bottom: 2rem;
	line-height: normal;
}

#footnotes {
	margin-top: auto;

	padding-top: 2rem;
}

#foonotes :first-child {
	margin-top: 0;
}

#foonotes :last-child {
	margin-bottom: 0;
}

#footnotes::before {
	content: '';
	display: block;
	margin: 0 auto 3rem;
	width: 100%;

	border-top: var(--content-border);
}

#footnotes::after {
	content: '';
	display: block;
	margin: 3rem auto 0;
}

#index h2 {
	margin-bottom: 0rem;
}

#index section h3 {
	margin-top: 0;
}

nav {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

nav ul#contact {
	padding-left: 1rem;
	border-left: var(--content-border);
}

#post hgroup,
#index section {
	padding: 3rem 0;
}

#index section:last-child {
	border-bottom: none;
}

#post hgroup h1 {
	line-height: 1.4;
}

#post hgroup p {
	margin: 0 auto;
}

#post-list h2 {
	margin-top: 1rem;
	margin-bottom: 0rem;
}

#post-list {
	margin-top: 0;
}

#post-list ol {
	margin-top: 1rem;
	margin-bottom: 2rem;
	margin-left: 0;
	padding-left: 0;

	list-style: none;
}

#post-list li {
	margin-bottom: 0.3rem;
	padding-left: 0;
}

#post-list ol li a {
	margin-right: 0.5rem;
}

#post-list ol li::before {
	content: none;
}


#post-list #date-created {
	margin: 0;
}

/* Classes */
.content {
	flex: 1;
	min-width: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding: 0 1rem;

	border-left: var(--content-border);
}

.footnote-ref {
	margin-right: 0.2rem;
	scroll-margin-top: 3rem;
}

.highlight {
	background-color: var(--color-highlight-bg);
	color: var(--color-highlight-fg);
	padding: var(--highlight-span-height);

	border-radius: 2px;
}

/* outline */
footer,
header,
#footnotes::before,
#index section,
#post hgroup {
	margin-left: -5rem;
	padding-left: 5rem;
}

#post hgroup,
#index section {
	border-bottom: var(--content-border);
}

@media (width >=32rem) {
	body {
		padding: 3rem;
		min-height: calc(100% - 6rem);
	}

	pre {
		overflow-x: auto;
	}

	#index #home,
	#post hgroup {
		width: 85%;
	}

	#footnotes::before {
		width: 92.5%;
	}

	#post hgroup h1 {
		line-height: 1.4;
	}

	#post hgroup p {
		margin-top: 0;
	}

	.content {
		padding: 0 3rem;
		box-sizing: border-box;
		padding-right: 0;
	}

}

@media (prefers-color-scheme: dark) {
	:root {
		/* Inverted - lightest becomes darkest */
		--color-gray1: #1a1a1a;
		--color-gray2: #2a2a2a;
		--color-gray3: #3a3a3a;
		--color-gray4: #505050;
		--color-gray5: #707070;
		--color-gray6: #9a9a9a;
		--color-gray7: #b5b5b5;

		--color-highlight-fg: #e6dfa4;
		--color-highlight-bg: #797737;


		color-scheme: dark;
	}
}

/* Fallback in case Javascript is disabled */
x-footnote {
	display: block;
	padding: 0.7rem 1.5rem 0.7rem 3rem;
	font-size: 90%;
	position: relative;
	opacity: 0.7;
}
