:root {
	--color-white: #e6e6e6;
	--color-dark-gray: #2e2e2e;

	--color-fg: var(--color-white);
	--color-bg: var(--color-dark-gray);

	--color-highlight-fg: #716f45;
	--color-highlight-bg: #e6dfa4;

	--color-link-fg: inherit;
	--color-link-bg: #efb46e;

	--default-font-size: 16px;
	--default-line-height: 1.6;
	--default-border-radius: 4px;

	--content-border: 1.5px solid var(--color-fg);
	--content-border-radius: 30px;
	--highlight-span-height: calc((var(--default-font-size) * (var(--default-line-height) - 1) / 2) + 0.25em);
}

@media (prefers-color-scheme: dark) {
	:root {
		/* --color-gray1: #1a1a1a; */
		/* --color-gray2: #2a2a2a; */
		/* --color-gray3: #3a3a3a; */
		/* --color-gray4: #505050; */
		/* --color-gray5: #707070; */
		/* --color-gray6: #9a9a9a; */
		/* --color-gray7: #b5b5b5; */

		--color-highlight-fg: #e6dfa4;
		--color-highlight-bg: #797737;

		color-scheme: dark;
	}
}

html {
	height: 100%;
	scrollbar-gutter: stable;
}

body {
	max-width: 750px;
	margin: 0 auto;
	padding: 0;
	min-height: 100%;

	display: flex;

	background-color: var(--color-bg);
	color: var(--color-fg);


	font-family: sans-serif;
	/* font-family: Verdana, Geneva, Tahoma, sans-serif; */
	/* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */

	font-weight: 400;
	font-style: normal;
	font-size: var(--default-font-size);
	font-optical-sizing: auto;
	line-height: var(--default-line-height);
}

main {
	flex: 1;

	display: flex;
	flex-direction: column;
}

a,
a:visited {
	color: inherit;
}

a:hover,
a:active {
	color: inherit;
}

code {
	background-color: inherit;
	color: inherit;

	font-size: calc(var(--default-font-size) - 2px);

	overflow-wrap: break-word;
}

details[open] summary span,
summary:hover span {
	opacity: 1;
}

details[open] summary {
	border-top-left-radius: var(--default-border-radius);
	border-top-right-radius: var(--default-border-radius);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

details[open] pre {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

details pre {
	margin-top: 0;
}

footer ul {
	margin: 0;
	padding: 0;

	list-style: none;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

footer ul li {
	margin-top: 1.5px;
	padding: 1rem;

	position: relative;
	z-index: 1;

	border: var(--content-border);
	border-radius: var(--content-border-radius);

	align-self: flex-start;
}

footer ul li.logo {
	padding: 1rem 2rem;
}

footer ul li:hover {
	padding: calc(1rem - 0.5px);

	border-color: #ff5349;
	border-width: 2px;

	z-index: 2;
}

footer ul li:hover.logo {
	padding: calc(1rem - 0.5px) calc(2rem - 0.5px);
}


summary {
	position: sticky;
	top: 0;

	color: var(--color-fg);

	border-bottom: var(--content-border);
	border-radius: var(--default-border-radius);

	padding: 0.5rem 1.7rem;

}

summary span {
	opacity: 0.4;
	transition: opacity 0.3s ease;
}

h1 {
	font-size: 2rem;

	margin-top: 0;
	margin-bottom: 0;
}

div:has(> img) {
	align-self: center;
	max-width: 100%;
	width: 100%;
}

div>img {
	max-width: 100%;
	height: auto;
	display: block;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

ol li>p,
ul li>p {
	margin: 0;
}

ol li,
ul li {
	list-style: none;
	position: relative;
	padding-left: 1.2rem;
}

#footnotes>ol>li {
	margin-bottom: 1rem;
}

#footnotes>ol>:last-child {
	margin-bottom: 0;
}

#post-main {
	margin: 0;
	flex: 1;
}

#post-main :first-child {
	margin-top: 0;
}

#post-main :last-child {
	margin-bottom: 0;
}

ol>li:last-child {
	margin-bottom: 0;
}

ol>li::before {
	content: counter(list-item) ". ";
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
}

header ul {
	margin: 0;
	padding: 0;

	list-style: none;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

header>ul>li:first-child,
#contact ul {
	margin: -1.5px;
	padding: 1rem;

	position: relative;
	z-index: 1;

	border: var(--content-border);
	border-radius: var(--content-border-radius);

	display: flex;
	flex-wrap: wrap;

	gap: 1rem;
}

#contact ul {
	margin-left: 1px;
}

#contact ul li:last-child {
	padding-right: 1.2rem
}

header>ul>li:first-child:hover,
#contact ul:hover {
	padding: calc(1rem - 0.5px);

	border-color: #ff5349;
	border-width: 2px;

	z-index: 2;
}

details {
	margin: 2rem 0;
}

pre {
	margin: 2rem 0;
	padding: 1rem;

	color: var(--color-fg);

	border-radius: var(--default-border-radius);

	overflow: auto;
	scrollbar-gutter: stable;
}

q {
	font-style: italic;
}

a.footnote-back {
	margin-left: 0.2rem;
}

a.footnote-ref:target,
li[id^="footnote-"]:target::before {
	display: inline-block;
	animation: footnote-back 1s ease-out forwards;
}

@keyframes footnote-back {
	50% {
		transform: scale(3);
		font-weight: bold;
	}
}

#contact {
	padding-left: 0;
}

#date-created,
#date-updated {
	color: var(--color-fg);
	font-weight: bold;
	line-height: normal;
}

#date-created {
	display: inline-block;
	margin-bottom: 0.5rem;
}

#date-updated {
	margin: 0;
	padding: 1rem;

	width: fit-content;

	display: block;
	align-self: flex-end;

	border: var(--content-border);
	border-radius: var(--content-border-radius);

	box-sizing: border-box;
	position: relative;
	z-index: 1;
}

#date-updated:hover {
	border-color: #ff5349;
	border-width: 2px;

	padding: calc(1rem - 0.5px);
	z-index: 10;
}


#foonotes :first-child {
	margin-top: 0;
}

#foonotes :last-child {
	margin-bottom: 0;
}

#index section,
#post hgroup,
#post-main,
#footnotes {
	border: var(--content-border);
	border-radius: var(--content-border-radius);
	box-sizing: border-box;
	margin: 0 -1.5px -1.5px -1.5px;
	padding: 1.5rem;
	position: relative;
	z-index: 1;
}

#index section:hover,
#post hgroup:hover,
#post-main:hover,
#footnotes:hover {
	border-color: #ff5349;
	border-width: 2px;

	padding: calc(1.5rem - 0.5px);
	z-index: 10;
}

footer {
	margin-top: -1.5px;
	padding: 0;
}

footer:hover {
	padding: 0;
	z-index: 10;
}

header {
	margin-top: -1.5px;
	padding: 0;
}

header:hover {
	padding: 0;
	z-index: 10;
}

#post hgroup {
	width: fit-content;

	display: block;
	align-self: flex-start;

	border: var(--content-border);
	border-radius: var(--content-border-radius);

	box-sizing: border-box;
}

#post hgroup h1 {
	line-height: 1.4;
}

#post hgroup p {
	margin: 0 auto;
}

#post-list {
	flex: 1;
}

#post-list h2 {
	margin-top: 1rem;
	margin-bottom: 0rem;
}

#post-list dl {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#post-list .post-entry {
	margin: 0 -1.5px -1.5px -1.5px;
	position: relative;
	z-index: 1;

	display: flex;
	align-items: stretch;
}

#post-list dt {
	font-weight: bold;
}

#post-list dt a {
	text-decoration: none;
}

#post-list dt,
#post-list dd .date {
	width: fit-content;
	white-space: nowrap;
}

#post-list dt,
#post-list dd {
	padding: 1rem 1.5rem;
	margin: 0;

	display: flex;
	align-items: center;

	border: var(--content-border);
	border-radius: var(--content-border-radius);

	box-sizing: border-box;

	width: fit-content;
}

#post-list .post-entry:hover dt,
#post-list .post-entry:hover dd {
	padding: calc(1rem - 0.5px) calc(1.5rem - 0.5px);

	border-color: #ff5349;
	border-width: 2px;
}

#post-list .post-entry:hover {
	z-index: 10;
}

#post-list dt {
	margin: 0;
}

#post-list dd {
	margin: 0;
}

#post-list #date-created {
	margin: 0;
}

#post-list #date-created {
	font-weight: normal;
}

.content {
	flex: 1;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	/* border: var(--content-border); */
	/* border-radius: var(--content-border-radius); */
}

.footnote-ref {
	margin-right: 0.2rem;
	scroll-margin-top: 3rem;
}

.highlight {
	background-color: var(--color-highlight-bg);
	color: var(--color-highlight-fg);
	padding: var(--highlight-span-height);

	border-radius: 2px;
}

@media (max-width: 350px) {
	#contact {
		padding-left: 0;
		border-left: none;
	}
}

@media (min-width: 510px) {
	body {
		padding: 3rem;
		min-height: calc(100% - 6rem);
	}

	pre {
		overflow-x: auto;
	}

	#post hgroup h1 {
		line-height: 1.4;
	}

	#post hgroup p {
		margin-top: 0;
	}
}

@media (min-width: 655px) {
	footer ul {
		align-items: center;
	}
}


x-footnote {
	display: block;
	padding: 0.7rem 1.5rem 0.7rem 3rem;
	font-size: 90%;
	position: relative;
	opacity: 0.7;
}
